<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
<form action="list" method="post">
    <input type="text" name="name" placeholder="please enter ~" >
    <input type="date" name="begindt">
    <input type="date" name="enddt">
    <button>查询</button>
</form>

    <table>
            <tr>
                <td>名称</td>
                <td>descr</td>
                <td>开始时间</td>
                <td>结束时间</td>
                <td>总数</td>
                <td>状态</td>
                <td>活动名称</td>
            </tr>
            <tr>
                <td>苹果</td>
                <td>一箱苹果</td>
                <td>2019-12-09 09:17:18</td>
                <td>2019-12-09 09:17:18</td>
                <td>正常</td>
                <td>20</td>
                <td>活动1，活动2</td>
            </tr>

    </table>


</body>
</html>
